// General
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    display: grid; 
    grid-template-columns: 250px 4fr; 
    grid-template-rows: 4fr 400px; 
    gap: 0px 0px; 
    grid-template-areas: 
        "header main"
        "header contacto";
    @media screen and (max-width: 768px) {
        display: block;
    }
}
h2{
    padding-top: 30px;
    color: white;
    text-align: center;
    font-size: 25px;
}
.boton{
    padding: 5px;
    color:#0d172a;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-decoration: none #0d172a solid;
    transition: all .1s cubic-bezier(.4,0,.2,1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    &:hover{
        background-color: #1e293b;
        color: #fff;
    }
}
// HEADER
.header{
    display: grid; 
    grid-template-columns: 250px; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "nav"; 
    grid-area: header;
    @media screen and (max-width: 768px) {
        display: block;
    }
    &__contenedor__nav{
        width: 250px;
        position: fixed;
        grid-area: nav;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        @media screen and (max-width: 768px) {
            position: relative;
            width: 100%;
        }
        &__contenedor{
            width: 250px;
            @media screen and (max-width: 768px){
                width: 100%;
            }
            &__list{
                display: flex;
                flex-direction: column;
                list-style: none;
                width: 100%;
                @media screen and (max-width: 768px) {
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0;
                    margin: 0%;
                    
                }
                &__item{
                    padding: 10px;
                    @media screen and (max-width: 768px) {
                        padding: 0;
                    }
                    &__link{
                        text-decoration: none;
                        color: rgba(25, 25, 25, 0.7);
                        padding: 10px;
                        @media screen and (max-width: 768px) {
                            font-size: 12px;
                            padding: 0;
                        }
                        &:hover{
                            color: rgba(0, 0, 0, 1);
                            border-bottom: 1px black solid;
                            transform: scale(1,5);
                            
                        }
                    }
                }
            }
        }
        &__contenedorLogo{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            &__imagen{
                width: 200px;
                @media screen and (max-width: 768px) {
                    width: 100px;
                }
            }
        }
    }
}
// Main
.main{
    grid-area: main;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/checkered-flag-texture.jpg");
    background-size: cover;
    background-attachment: fixed;
    // HERO SECTION 
    &__section__hero{
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/baquet.jpeg");
        background-attachment: fixed;
        height: 100vh;
        background-size: cover;
        background-position: center;
        &__contenedor{
            position: sticky;
            display: flex;
            flex-direction: column;
            color: white;
            text-shadow: 2.5px 2.5px black;
            align-items: center;
            top: 10px;
            
        }
    }
    // QUIENES SECTION
    &__section__quienes{
        margin-top: 100px;
        background: black;
        &__contenedor{
            display: flex;
            margin-top: 30px;
            padding: 15px;
            gap: 2rem;
            color: white;
            &__imagen{
                width: 40vw;
            }
        }
    }
    // ACCION SECTION   
    &__section__accion{
        margin-top: 100px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../multimedia/Relojes.jpg");
        height: 80vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        &__contenedor{
            height: 65vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            color: white;
            padding: 10px;
            &__video{
                width: 750px;
            }
        }
    }
    // Carousel Section
    &__section__fotos{
        padding: 20px;
        &__carousel{
            margin-top: 10px;
            padding: 20px;
            &__imagen{
                height: 85vh;
                object-fit: cover;
                
            }
        }
    }
}
.footer{
    grid-area: contacto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__contenedor{
        color: white;
        margin-left: 15px;
        font-size: 20px;
        &__list{
            list-style-image: url(../multimedia/telefono.png);
        }
        &__list2{
            list-style-image: url(../multimedia/personita.png);
        }
    }
    &__contenedorFormulario{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 300px;
        border: 1px white solid;
        border-radius: 0.25rem;
        padding: 5px;
        & h3{
            color: white;
        }
    }
    &__contenedorLogos{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: space-around;
        margin-right: 15px;
        &__link__imagen{
            width: 40px;
        }
    }
}   
