* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 4fr;
      grid-template-columns: 250px 4fr;
  -ms-grid-rows: 4fr 400px;
      grid-template-rows: 4fr 400px;
  gap: 0px 0px;
      grid-template-areas: "header main" "header contacto";
}

@media screen and (max-width: 768px) {
  .conteiner {
    display: block;
  }
}

h2 {
  padding-top: 30px;
  color: white;
  text-align: center;
  font-size: 25px;
}

.boton {
  padding: 5px;
  color: #0d172a;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  line-height: 1;
  padding: 1rem 1.6rem;
  -webkit-text-decoration: none #0d172a solid;
          text-decoration: none #0d172a solid;
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
          box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

.boton:hover {
  background-color: #1e293b;
  color: #fff;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px;
      grid-template-columns: 250px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
      grid-template-areas: "nav";
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
  }
}

.header__contenedor__nav {
  width: 250px;
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .header__contenedor__nav {
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
}

.header__contenedor__nav__contenedor {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .header__contenedor__nav__contenedor {
    width: 100%;
    background-color: white;
  }
}

.header__contenedor__nav__contenedor__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__contenedor__nav__contenedor__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    margin: 0%;
  }
}

.header__contenedor__nav__contenedor__list__item {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .header__contenedor__nav__contenedor__list__item {
    padding: 5px;
  }
}

.header__contenedor__nav__contenedor__list__item__link {
  text-decoration: none;
  color: rgba(25, 25, 25, 0.7);
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .header__contenedor__nav__contenedor__list__item__link {
    font-size: 12px;
    padding: 0;
  }
}

.header__contenedor__nav__contenedor__list__item__link:hover {
  color: black;
  border-bottom: 1px black solid;
  -webkit-transform: scale(1, 5);
          transform: scale(1, 5);
}

.header__contenedor__nav__contenedorLogo {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contenedor__nav__contenedorLogo__imagen {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .header__contenedor__nav__contenedorLogo__imagen {
    width: 100px;
  }
}

.main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../multimedia/checkered-flag-texture.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/checkered-flag-texture.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.main__section__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../multimedia/baquet.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/baquet.jpeg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main__section__hero__contenedor {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-shadow: 2.5px 2.5px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__section__hero__contenedor {
    position: relative;
  }
}

.main__section__quienes {
  margin-top: 100px;
  background: black;
}

.main__section__quienes__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 15px;
  gap: 2rem;
  color: white;
  text-align: center;
}

@media screen and (max-width: 648px) {
  .main__section__quienes__contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__section__quienes__contenedor__imagen {
  width: 40vw;
}

@media screen and (max-width: 648px) {
  .main__section__quienes__contenedor__imagen {
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main__section__accion {
  margin-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../multimedia/Relojes.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../multimedia/Relojes.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main__section__accion__contenedor {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 10px;
}

.main__section__accion__contenedor__video {
  width: 750px;
}

@media screen and (max-width: 768px) {
  .main__section__accion__contenedor__video {
    width: 80vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__section__fotos {
  padding: 20px;
}

.main__section__fotos__carousel {
  margin-top: 10px;
  padding: 20px;
}

.main__section__fotos__carousel__imagen {
  height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 768px) {
  .main__section__fotos__carousel__imagen {
    height: 50vh;
  }
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: contacto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 638px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__contenedor {
  color: white;
  margin-left: 15px;
  font-size: 20px;
}

.footer__contenedor__list {
  list-style-image: url(../multimedia/telefono.png);
}

.footer__contenedor__list2 {
  list-style-image: url(../multimedia/personita.png);
}

.footer__contenedorFormulario {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px white solid;
  border-radius: 0.25rem;
  padding: 5px;
}

.footer__contenedorFormulario h3 {
  color: white;
}

.footer__contenedorLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 15px;
}

@media screen and (max-width: 638px) {
  .footer__contenedorLogos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
  }
}

.footer__contenedorLogos__link__imagen {
  width: 40px;
}
/*# sourceMappingURL=main.css.map */